mixin navbarMenuButton
  button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
    span(class='sr-only') Toggle navigation
    span(class='icon-bar')

mixin mediaObject(data)
  - if (undefined == data) { data = {}; }
  - if (undefined == data.heading) { data.heading = 'Media heading'; }
  - if (undefined == data.para) { data.para = 'This is the content for your media.'; }
  - if (undefined == data.imgUrl) { data.imgUrl = "http://dummyimage.com/400/eeeeee/ffffff"; }
  - if (undefined == data.id) { data.id = ''; }
  - if (undefined == data.align) { data.align = 'left'; }
  - if (undefined == data.bodyClasses) { data.bodyClasses = ''; }
  
  div(class='media-object #{data.align} #{data.id}')
    a(href='#', class="pull-#{data.align}")
      img(src='#{data.imgUrl}', class="media-object")
    .media-body(class="#{data.bodyClasses}")
      h4.media-heading #{data.heading}
      p #{data.para}
